.nine{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: bolder;
    color: white;
    background-color: #212121;
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.ten-box{
    width: 150px;
    height: 150px;
    background: bisque;
}

.span-box{
    font-size: 2em;
}